<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= first_name %> <%= last_name %> | Social Media App</title>
  <style>
    body {
      background-color: #eee;
    }
    div {
      width: max-content;
      margin: 30px auto;
      text-align: center;
      box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
      padding: 10px 30px;
      border-radius: 5px;
    }
    img {
      border-radius: 50%;
    }
    span {
      position: relative;
      top: 10px;
      border: 1px solid goldenrod;
      color: goldenrod;
      padding: 3px 5px;
      border-radius: 10px;
    }
    ul {
      list-style: none;
      padding: 0;
    }
  </style>
</head>
<body>
  <div>
    <h1><%= first_name %> <%= last_name %></h1>
    <img src="<%= avatar %>">
    <p><%= email %></p>
  </div>
</body>
</html>